<nav class="fixed top-0 left-0 z-20 w-full border-b border-gray-200 bg-gray-50 dark:bg-gray-900 dark:border-gray-600">
  <div class="flex items-center justify-between w-full lg:w-auto">
    <div class="flex items-center space-x-4 pl-3.5">
      <%= link_to "OnLibrary", books_path, class: "text-2xl font-semibold whitespace-nowrap duration-300 transform dark:text-gray-400 mr-4" %>
      <% if user_signed_in? %>
        <%= link_to "New Book", new_book_path, class: "text-xl font-semibold whitespace-nowrap duration-300 transform text-gray-700 dark:text-gray-400 flex-shrink-0" %>
      <% end %>
    </div>

    <div class="flex items-center space-x-4">
      <% if user_signed_in? %>
        <span class="mr-2 text-gray-500 duration-300 transform dark:text-gray-400">Hello, <%= current_user.email %></span>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn-light m-3.5 " %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "btn-light m-3.5" %>
      <% end %>
    </div>
  </div>
</nav>
