<!DOCTYPE html>
<html>
  <head>
    <title>Onlibrary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-white dark:bg-gray-800">
    <header class="fixed w-full">
      <%= render "shared/header" %>
    </header>
    <div class="container flex px-5 mt-20 mr-4">
      <%= render "shared/notice" %>
    </div>
    <%= render "shared/search_results", search_results: @search_results %>
    <main class="w-full">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
